@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
#wrapper {
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

#content {
  display: table;
  margin: 0 auto;
  text-align: center;
}

#emoji {
  font-size: 100px;
  text-align: center;
}

#links {
  font-size: 20px;
}
#links p {
  margin: 0;
}
